{% extends 'base-backend.html.twig' %}

{% block title %}Vidéo index{% endblock %}

{% block body %}

    <div class="d-flex flex-wrap justify-content-between align-items-center">

    <h1>Vidéo index</h1>

    <a href="{{ path('app_admin_video_new') }}" class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Nom de l'image</th>
                <th>Slug</th>
                <th>Durée</th>
                <th>Nom de la vidéo</th>
                <th>Modifier le</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.imageName }}</td>
                <td>{{ video.slug }}</td>
                <td>{{ video.duration }}</td>
                <td>{{ video.videoName }}</td>
                <td>{{ video.updatedAt ? video.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.creationDate ? video.creationDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_video_show', {'id': video.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_video_edit', {'id': video.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
