{% extends 'base.html.twig' %}

{% block title %}Study Buddy - Les auteurs{% endblock %}

{% block body %}

<main class="container-lg py-4">
    <h1 class="mb-3"><i data-feather="pen"></i> Tous les auteurs <i data-feather="pen"></i></h1>
    <div class="row d-flex justify-content-center">

    {% for author in authors %}

        <div class="col-12 col-md-4 col-xl-3 mb-3"> 
                <div class="card">
                    <img src="/images/authors/{{author.imageName}}" class="card-img-top" alt="{{author.imageName}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ author.name }} {{author.surname}} {{author.pseudo}}</h5>
                        <p class="card-text">{{author.biography}}</p>
                    </div>
                </div>
        </div>

{% endfor %}
    </div>
</main>
{% endblock %}
