{% extends 'base.html.twig' %}

{% block title %}les auteurs{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Les auteurs</h1>
    {% for author in authors %}
    <ul>
        <li>{{ author.name }}{{author.surname}}</li>
    </ul>
    <div class="col">
    <div class="card">
        <img src="{{author.imageName}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{author.pseudo}}</h5>
        <p class="card-text">{{author.biography}}</p>
    </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
