{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>

{# py=padding vertical , je mets 2 mais ça peut aller jusqu'à 5#}
<div class="container m-auto w-50 mt-3 rounded py-2" id="register-container">
    {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        
        {{ form_row(registrationForm.agreeTerms) }}
    {{ form_end(registrationForm)}}
        <button type="submit" class="btn" id="register-button">Register</button>

</div>
{% endblock %}
