{% extends 'base.html.twig' %}

{% block title %}Study Buddy - S'inscrire{% endblock %}

{% block body %}

                {% if app.user is not null %}

    <h3 class="mb-3 text-center"> Tu es déjà connecté.e avec l'adresse mail : {{ app.user.userIdentifier }}.
    <br>Tu peux partir à la découverte de Study Buddy !
    <br>
    <a href= "{{path('app_logout')}}" class="btn btn-primary m-3">Se déconnecter</a>
    </h3>


                {% else %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>

{# py=padding vertical , je mets 2 mais ça peut aller jusqu'à 5#}
<div class="container m-auto w-50 mt-3 rounded py-2" id="register-container">
    {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        
        {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn" id="register-button">S'inscrire</button>

    {{ form_end(registrationForm)}}

</div>

    <div id="login-inscrire">
        <p>Déjà un compte ? <a href= "{{path('app_login')}}">Connecte-toi.</a></p>
    </div>

    {% endif %}

{% endblock %}
