{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}

<main class=" container-lg py-4">
    <h1 class=" mb-3"><i data-feather="search"></i> Study Buddy - Toutes les catégories <i data-feather="search"></i></h1>

    <div class=" row d-flex justify-content-center">
    {% for category in categorys %}
    <div class=" col-12 col-md-3 col-lg-2">
            
        <button class="btn btn-primary">
            <img src="" class="card-img-top" alt="...">
            <p>{{category.name}}</p>
        </button>

                    {# <img src="{{video.videoName}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{video.title}}</h5>
                        <p class="card-text">{{video.description}}</p>
                        <p class="card-text">{{video.duration}}</p>
                    </div> #}
    </div>
{% endfor %}
    </div>
</main>
{% endblock %}

