{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
<h1>Catégorie : {{ category.name }}</h1>

{% if videos is not empty %}
    <div class="row d-flex justify-content-center">

    {% for video in videos %}
        <div class="col-12 col-md-4 col-xl-3 mb-3"> 
            <div class="card shadow">

                <div class="position-relative">
                    {% if  video.imageName is defined and video.imageName is not null  %}
                    <img src="{{ asset('/images/videos/captureVideos/' ~ video.imageName) }}" class="card-img-top" alt="{{video.title}}">
                    {% else %}
                    <img src="{{ asset('/images/videos/captureVideos/no-image.png') }}" class="img-fluid" alt="{{video.title}}">
                    {% endif %}
                    <a href="{{ path ('app_video_show', {slug:video.slug }) }}" class="btn btn-primary rounded-circle position-absolute top-50 start-50 translate-middle p-2">
                        <i data-feather="play"></i>
                    </a>
                </div>                

                <div class="card-body">
                    <a href="{{ path ('app_video_show', {slug:video.slug }) }}" class="btn btn-primary">{{video.title}}</a>
                    <p class="card-text">{{video.description}}</p>
                    <p class="card-text">{{video.duration}}</p>
                    <p class="card-text"><i data-feather="heart" class="text-danger"> </i></p>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

{% else %}
    <p>Aucune vidéo trouvée pour cette catégorie.</p>
{% endif %} 


{% endblock %}