{% extends 'base-backend.html.twig' %}

{% block title %}Catégorie index{% endblock %}

{% block body %}

{# {% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %} #}

    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Catégories</h1>
    <a href="{{ path('app_admin_category_new') }}"class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a>
    {# <a href="{{ path('app_admin_category_new') }}"class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a> #}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for category in categorys %}

            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td class="text-end">
                
                    {# <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                #}
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_admin_categorie_new') }}">Create new</a> #}
{% endblock %}
