{% extends 'base-backend.html.twig' %}

{% block title %}Catégorie index{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Category</h1>
    <a href="{{ path('app_admin_category_new') }}"class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th class="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td class="text-end">{{ category.slug }}</td>
                <td>
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
