{% extends 'base.html.twig' %}

{% block title %}{{video.title}}{% endblock %}

{% block body %}
<h1>{{ video.title }}</h1>
<div class="row">
    <div class="col-12 col-md-5">
    {% if  video.imageName is defined and video.imageName is not null  %}
    <img src="{{ asset('/images/videos/captureVideos/' ~ video.imageName) }}" class="img-fluid" alt="{{video.title}}">
    {% else %}
    <img src="{{ asset('/images/videos/captureVideos/noUser.avif') }}" class="img-fluid" alt="{{video.title}}">
    {% endif %}
    </div>
    <div class="col-12 col-md-7">
    <h2>Description</h2>
    <p>{{ video.description }}</p>
    <h2>Auteur(s)</h2>
    <ul>
    {% for author in video.author %}
    <li>{{ author }}</li>
    <li class="col-md-4">
    {% if  author.imageName is defined and author.imageName is not null  %}
    <img src="{{ asset('/images/authors/' ~ author.imageName) }}" class="img-fluid" alt="">
    {% else %}
    <img src="{{ asset('/images/authors/noUser.wavif') }}" class="img-fluid" alt="">
    </li>
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}