{% extends 'base.html.twig' %}

{% block title %}{{video.title}}{% endblock %}

{% block body %}
<h1 id="title-video">{{ video.title }}</h1>

<div class=" col-12 m-auto ">
    <div class="block-general row">
        {% if  video.videoName is defined and video.videoName is not null  %}
        <video controls class="imageName">
        <source src="{{ asset('/images/videos/videos-cours/' ~ video.videoName) }}" class=" shadow mb-5 bg-body rounded img-fluid m-auto " type="video/webm" alt="{{video.title}}">
        </video>
        {% else %}

        <video controls >
        <source src="{{ asset('/images/videos/videos-cours/' ~ video.videoName) }}" class=" shadow mb-5 bg-body rounded img-fluid mx-auto d-block " type="video/webm" alt="{{video.title}}">
        </video>
        {% endif %}
    </div>
        <div id="align-text-img"class="col-12" >
            <div class="align-text ">
                <h2>Description</h2>
                <p>{{ video.description }}</p>
            </div>
    
    

                <div id="champs-author" class="col-md-4">
                    <h2>Auteur(s)</h2>
                    {% for author in video.author %}
                    <p>{{ author.surname }} {{ author.name }}</p>
                {% endfor %}
                </div>
        </div>
</div>     
{% endblock %}