{% extends 'base-backend.html.twig' %}

{% block title %}View{% endblock %}

{% block body %}
    <h1>View</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ view.id }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ view.state ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ view.slug }}</td>
            </tr>
            <tr>
                <th>ViewDate</th>
                <td>{{ view.viewDate ? view.viewDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_view_index') }}" class= "btn btn-dark mb-3">Retour</a>

    <a href="{{ path('app_admin_view_edit', {'id': view.id}) }}" class= "btn btn-success">Modifier</a>

    {{ include('admin_view/_delete_form.html.twig') }}
{% endblock %}
