{% extends 'base-backend.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Auteur</h1>

    {# <a href="{{ path('app_admin_author_new') }}" class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a> #}
    <a href="{{ path('app_admin_author_new') }}" class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Pseudo</th>
                <th>Biographie</th>
                <th>Nom de l'image</th>
                <th>Slug</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.surname }}</td>
                <td>{{ author.biography }}</td>
                <td>{{ author.imageName }}</td>
                <td>{{ author.slug }}</td>

                <td class="text-end">{{ author.pseudo }}</td>
                <td>
                    {# <a href="{{ path('app_admin_author_show', {'id': author.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_author_edit', {'id': author.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a> #}
                    <a href="{{ path('app_admin_author_show', {'id': author.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_author_edit', {'id': author.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

