{% extends 'base-backend.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Biography</th>
                <th>ImageName</th>
                <th>Slug</th>
                <th>Pseudo</th>
                <th class="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.surname }}</td>
                <td>{{ author.biography }}</td>
                <td>{{ author.imageName }}</td>
                <td>{{ author.slug }}</td>
                <td>{{ author.pseudo .updatedAt ? auteur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_author_show', {'id': author.id}) }}"class=btn btn-warning"><i class="align-middle"data-feather=>show</a>
                    <a href="{{ path('app_admin_author_edit', {'id': author.id}) }}"class="btn btn-success"><i class="align-middle"data-feather="edit-2"></i>>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_author_new') }}" class="btn btn-success"><i class="align-middle"data-feather="plus"></i></a>
{% endblock %}
