		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
            <span class="align-middle">Study Buddy, application V.O.D.</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Génériques
					</li>

					<li class="sidebar-item active">
                        <a class="sidebar-link" href="{{path('app_admin_dashboard') }}"
                        <span class="align-middle">Dashboard</span>
            </a>
					</li>
									<li class="sidebar-header">
						Plateforme vidéo
					</li>


										<li class="sidebar-item ">
                        <a class="sidebar-link" href="{{path('app_admin_author_index') }}"
                        <span class="align-middle">Auteurs</span>
            </a>
					</li>

										<li class="sidebar-item ">
                        <a class="sidebar-link" href="{{path('app_admin_category_index') }}"
                        </i><span class="align-middle">Catégories</span>
            </a>
					</li>

										<li class="sidebar-item ">
                        <a class="sidebar-link" href="{{path('app_admin_video_index') }}"
                        <span class="align-middle">Vidéos</span>
            </a>
					</li>

															<li class="sidebar-item ">
                        <a class="sidebar-link" href="{{path('app_admin_view_index') }}"
                        <span class="align-middle">Vus</span>
            </a>
					</li>



				</ul>


			</div>
</nav>