		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
          <span class="align-middle">Plateforme vidéo</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Génériques
					</li>

					<li class="sidebar-item active">
                        <a class="sidebar-link" href="{{path('app_admin_dashboard') }}"
                        <i class="align-middle" data-feather="sliders"></i><span class="align-middle">Dashboard</span>
            </a>
					</li>
									<li class="sidebar-header">
						Plateforme vidéo
					</li>


										<li class="sidebar-item ">
                        <a class="sidebar-link" href="{{path('app_admin_author_index') }}"
                        <i class="align-middle" data-feather="users"></i><span class="align-middle">Auteurs</span>
            </a>
					</li>

										<li class="sidebar-item ">
                        <a class="sidebar-link" href="{{path('app_admin_category_index') }}"
                        <i class="align-middle" data-feather="sliders"></i><span class="align-middle">Catégories</span>
            </a>
					</li>

										<li class="sidebar-item ">
                        <a class="sidebar-link" href="{{path('app_admin_video_index') }}"
                        <i class="align-middle" data-feather="film"></i><span class="align-middle">Vidéo</span>
            </a>
					</li>

															<li class="sidebar-item ">
                        <a class="sidebar-link" href="{{path('app_admin_view_index') }}"
                        <i class="align-middle" data-feather="eye"></i><span class="align-middle">View</span>
            </a>
					</li>



				</ul>


			</div>
</nav>